.data-source--wrapper {
  display: flex;
  flex-direction: column;
}

.data-source--dropdown {
  background-color: var(--main-light) !important;
  color: black;
}

.source-item.active,
.source-item:active {
  background-color: var(--main-dark) !important;
}

.source-item:hover {
  background-color: var(--hover-color) !important;
}

.initialize-button {
  margin: 5px 5px 0 0;
}

.init-modal--spin-body {
  display: flex;
  justify-content: center;
}
