.table-data {
  margin: 25px 0;
  text-align: center;
}

.table-header {
  background-color: var(--main-dark);
  color: #ffffff;
  text-shadow: 0 0 2px inherit;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.table-header:hover {
  cursor: pointer;
}

.table-body {
  background-color: #ffffff;
}

.table-data--link {
  text-decoration: none;
}

.table-data--image {
  max-height: 26px;
  max-width: 34px;
}

.table-data--image:hover {
  cursor: inherit;
}

.table-data--changed {
  box-shadow: inset 0 0 6px var(--notice-color) !important;
}
