.score,
.competitor,
.medals {
  display: flex;
  margin-bottom: 10px;
}

.nationality-input {
  width: 60px !important;
  margin: 0 5px;
}

.result-input {
  width: 85px !important;
  margin: 0 5px;
}

.score-metric {
  margin-right: 15px;
}

.place-input {
  width: 60px !important;
  margin: 0 5px;
}

.body-info {
  font-size: larger;
  margin: 15px;
}

.id-span {
  text-decoration: underline;
}

.separation-line {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.signature--dropdown {
  background-color: var(--main-light) !important;
  color: black;
}

.signature.active,
.signature:active {
  background-color: var(--main-dark) !important;
}

.signature-item:hover {
  background-color: var(--hover-color) !important;
}

.signature-control-alert {
  text-align: center;
}
