.score {
  display: flex;
  margin-bottom: 10px;
}

.nationality-input {
  width: 60px !important;
  margin: 0 5px;
}

.result-input {
  width: 60px !important;
  margin: 0 5px;
}

.score-metric {
  margin-right: 15px;
}

.body-info {
  font-size: larger;
  margin: 15px;
}

.id-span {
  text-decoration: underline;
}
