.header {
  background: var(--main-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

img:hover {
  cursor: pointer;
}

.options {
  display: flex;
}

.option {
  margin-left: 15px;
}

.data-source-options {
  display: table;
}
