.modal-lock--header {
  display: flex !important;
  justify-items: center;
}

#info-icon {
  margin-left: 20px;
  margin-top: 3px;
}

.modal-body {
  line-height: 2em;
}

.modal-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  border: 0.2px solid var(--light-grey);
  border-radius: 20px;
  padding: 7px;
}

.modal-field:hover {
  cursor: pointer;
}

.field-value {
  max-width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.toggle-all--wrapper {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  margin: 15px 0;
}
