:root {
  --main-dark: #c48262;
  --main-light: #fff9ec;
  --hover-color: #ffd4c1;
}

* {
  font-family: Poppins, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--main-light);
}
