:root {
  --main-dark: #9b1d14;
  --main-light: #f9f9f9;
  --hover-color: #ffd4c1;
  --notice-color: #be3b24;
  --check-green: #57ec5e;
  --light-grey: #dfdfdf;
}

* {
  font-family: Poppins, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--main-light);
  overflow-x: hidden;
}
