:root {
  --main-dark: #fd6828;
  --main-light: #F9F9F9;
  --hover-color: #ffd4c1;
  --check-green: #57ec5e;
  --light-grey: #dfdfdf;
}

* {
  font-family: Poppins, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: var(--main-light);
  overflow-x: hidden;
}
