.graphic-controls {
  display: inline-block;
}

.graphic-controls:empty {
  width: 0;
}

#graphic-control--header {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 10px;
}

#graphic-control--header .graphic-clear {
  margin-left: 25px;
}

.graphic-control--title {
  line-height: unset !important;
}

.graphic-control--body {
  display: flex;
  justify-content: space-evenly;
}

.graphic-control--body div {
  display: flex;
  flex-direction: column;
}
.graphic-events * {
  text-align: center;
  margin-top: 5px;
  margin-right: 10px;
}
.graphic-personal * {
  text-align: center;
  margin-top: 5px;
}
