.graphic-controls {
  display: inline-block;
  margin-left: 3px;
  margin-right: 200px;
}

.graphic-controls:empty {
  width: 0;
}

.graphic-personal {
  margin-top: 20px;
  margin-bottom: 20px;
}

.graphic-time {
  margin-bottom: 20px;
}
