.data-source--dropdown {
  background-color: var(--main-light) !important;
  color: black;
}

.source-item.active,
.source-item:active {
  background-color: var(--main-dark) !important;
}

.source-item:hover {
  background-color: var(--hover-color) !important;
}
